.contact-modal-send-button{
    border: 0;
    background-color: #1D3557;
    width: 50%;
    padding: 10px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    border-radius: 10px;
}
.contact-modal-send-button:hover{
    border: 0;
    background-color: #FF5733; 
}
.contact-modal-footer{
    display: flex;
    justify-content: center;
}