/* carousel-styles.css */
.carrousel-container {
    margin-left: 1%;
    width: 98%;
    border-top: 1px solid black;
    margin-top: 5rem;
  }
  

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el título y la descripción */
  color: #fff; /* Color del texto en la descripción */
  border-radius: 5px; /* Borde redondeado para el título y la descripción */
}

.carousel-caption h5 {
  font-size: 3vw;  /* Tamaño de fuente del título */
}

.carousel-caption p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2vw; 
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Establece el número máximo de líneas a mostrar */
  -webkit-box-orient: vertical;
}
  .carousel-item img {
    height: 100vh; 
    object-fit: cover; 
    background-size: cover;
    background-position: center;
  }
.carousel-button{
  color: white;
  font-weight: bolder;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #1D3557;
}
.carousel-button:hover{
  color: white;
  font-weight: bolder;
  border: 0;
  background-color: #FF5733; 
}