.table {
    border-left: 1px solid #C0C0C0; 
    border-right: 1px solid #C0C0C0; 
}
.table th{
    background-color: #1D3557;
    color: white;
    padding: 1rem;
    font-weight: bolder;
    vertical-align: top; 
}
.table td{
    font-size: x-small;
    font-weight: bolder;
}
.read-more-button{
    font-size: xx-small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1D3557;
    border: 0;
}

.read-more-button:hover{
    font-size: xx-small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #FF5733; 
    border: 0;
}
.read-more-button i{
    font-size: medium;
}
.link,
.link:hover{
    text-decoration: none;
}
