/* NotFound.css */
.not-found {
    text-align: center;
    padding: 20px;
  }
  
  .not-found h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .not-found p {
    font-size: 1.2rem;
    color: #777;
  }