.contact-button{
    background-color: #1D3557;
    border: 0px;
    font-size: medium;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    padding: 10px;
    max-height: 2rem;
}
.contact-button:hover{
    background-color: #FF5733; 
}

.footer-container {
    bottom: 0;
    width: 100%;
    background: #C0C0C0; 
    padding: 10px; 
    text-align: center;

  }
.footer-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
}