

.lower-navbar{
    width: 100%;
    padding: 2rem;
    background-color: #1D3557;
}
.dropdown-nav-link .dropdown-toggle{
  color: white !important; 
  font-weight: 600;
}
.dropdown-nav-link .dropdown-toggle:hover{
  color: #50C878 !important; 
  font-weight: 600;
}

.lower-navbar-container{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}
.lower-navbar-links{
    color: white !important;
    font-weight: bold;
    font-size: 20px;
}
.navbar-link{
  text-decoration: none;
    color: white !important;
}
.navbar-link:hover{
  color: #50C878 !important; 
  font-weight: 600;
}
.navbar-link:hover{
  text-decoration: none ;
  color: #909090;
  
}
.dropdown-nav-link nav.dropdown-nav-link{
  color: #FFF;
}
@media (max-width: 768px) {
    .lower-navbar {
      padding: 10px; /* Añade espacio entre el contenido y el borde de la Navbar */
    }
  
    .lower-navbar-container {
      flex-direction: column; /* Apila los elementos verticalmente en dispositivos pequeños */
      align-items: center; /* Centra los elementos en el eje X */
    }
  
    .lower-navbar-links {
      margin-top: 20px; /* Añade espacio entre los enlaces */
      text-align: center; /* Centra el texto de los enlaces */
    }
  
    .navbar-toggler {
      order: 2; /* Mueve el botón del menú hamburguesa al final en dispositivos pequeños */
    }
  }
  