.Homepage {
  background-color: #f5f5f5;
  padding: 15px;
  margin-top: 4rem;
  margin-left: 5rem;
  width: 90vw;
  border-radius: 20px;
  border: #777 1px solid;
  background-color: #FFF;  
  @media (max-width: 768px) {
    margin-top: 11rem;
    margin-left: 0;  
  }   
}
.header {
  text-align: center;
  padding: 20px;
}
.header h1 {
  font-size: 2.5rem;
  color: #333;
}
.header p {
  font-size: 1.2rem;
  color: #777;
}
.intro {
  background: #1D3557;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.intro h2 {
  font-size: 1.8rem;
  color: white;
  font-weight: bolder;  
}
.intro p {
  font-size: 1.2rem;
  color: white;
}
.instructions {
  background: #1D3557;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructions h2 {
  font-size: 1.8rem;
  color: white;
  font-weight: bolder;  
}

.instructions p {
  font-size: 1.2rem;
  color: white;
}

