.selected-item-container{
    min-width: 50%;
    display: block;
    justify-content: center;
}
.selected-item-listgroup
.selected-item-body-listgroup{
    padding: 5px;
}
.selected-item-listgroup .list-group-item {
    padding: 1rem;
    border-radius: 0; 
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #808080;
    display: flex;
    justify-content: space-between;
}
.selected-item-listgroup .list-group-item h6 {
    font-size: medium;
}

.selected-item-body {
    padding: 2.5rem;
    border-radius: 0; 
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #808080;
}
.selected-item-body p {
    margin-top: 1.5rem;
    text-align: justify; 
    line-height: 1.5; 
    text-indent: 2rem;
}
.carousel img {
    width: 100%; /* Utiliza el 100% del ancho disponible */
    max-height: 70vh; /* Utiliza el 70% de la altura de la ventana gráfica (viewport height) como altura máxima */
    object-fit: cover;
    transition: opacity 0.5s;
}

.carousel-item {
    opacity: 0; /* Inicialmente, todas las imágenes están ocultas */
}

.carousel-item.active {
    opacity: 1; /* Cuando la imagen se vuelve activa, la opacidad es 1 (visible) */
}
.container-item-list {
    display: flex;
    flex-direction: row-reverse; 
    flex-wrap: wrap;
    gap: 10px; 
    
  }
.item-list {
    display: list-item;
    list-style-type: disc; 
    margin-left: 20px; 
}

.document-container{
    display: flex;
    justify-content: center;
}
.document-button{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: large;
}
.document-button i{
    font-size: xx-large;
}

.selected-header-container {
    min-width: 100%;
    min-height: 75vh; /* Cambiado a min-height para asegurar que quepa el contenido */
    margin-top: 1rem;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 1rem;
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
    }
  }
  
  .selected-item-image-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;

  }
  
  .text-information-container {
    width: 100%;
    margin-right: 0;
    border-left: 1.5px solid #C0C0C0;
    border-bottom: 1.5px solid #C0C0C0;

    @media (max-width: 768px) {
      width: 100%; /* Ajusta el ancho al 100% cuando la pantalla es pequeña */
    }
  }