.news-container{
    width: 40%;
    margin-left: 4rem;
    @media (max-width: 768px) {
        margin-left: 0;
        width: 100%;
      }
}
.news-container-header{
    border-top: 15px solid #1D3557;
    padding: 20px;
    font-size: x-large;
    border-bottom: 1px solid gray;
    font-weight: bolder;
    background-color: #C0C0C0;
}
.news-container-body{
    background-color: #C0C0C0;
    font-weight: lighter;
    cursor: pointer;
}
.news-container-body h6{
    font-weight: bold;
}
.news-container-body:hover{
    background-color: gray;
}