@import url("https://fonts.googleapis.com/css?family=Overpass");

/* Modal Styles */
.custom-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header{
    background-color: #1D3557 ;
    color: white;
}
.modal-footer{
    background-color: #1D3557 ;
    color: white;
}
/* Form Styles */
.create-form {
  width: 90%; /* Utiliza un porcentaje para que se ajuste al tamaño de la ventana */
  max-width: 600px; /* Establece un ancho máximo para evitar que se vuelva demasiado ancho */
  background: whitesmoke;
  margin: 2rem auto; /* Centra el formulario verticalmente */
  padding: 1rem;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
}

.form-field {
  margin-bottom: 1rem;
}

.form-text,
.form-large-text,
.form-document,
.form-date,
.form-image,
.form-list {
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Estilos para las etiquetas de los campos */
.form-label {
  font-weight: bold;
}

/* Estilos para los botones en el pie del modal */  
.modal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; /* Añade espacio superior */
}

/* Estilos para el input de la lista y los tags */
.tags-input {
  display: flex;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
}

input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
  &:focus {
    outline: transparent;
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #1D3557;
  .tag-title {
    margin-top: 3px;
  }
  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #1D3557;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}

.form-image{
  margin-top: 5%;
  max-width: 100%;
  
  margin-bottom: 5%;
};

@media screen and (max-width: 567px) {
  .create-form {
    width: calc(100vw - 32px);
  }
}
/* Estilos para el contenedor de las imágenes */
.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre las imágenes */
}

/* Estilos para cada imagen */
.image-preview {
  position: relative;
  width: calc(25% - 10px); /* Ancho deseado de cada imagen con margen entre ellas */
}

/* Estilos para la imagen dentro del contenedor */
.image-preview img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Estilos para el botón de eliminar dentro de cada imagen */
.remove-image-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  left: 0px;
  cursor: pointer;
  color: white; /* Color gris oscuro */
  font-size: 18px;
}
.remove-image-button:hover {
  background-color: transparent;
  border: none;
}
.form-label-field{
  color: blue;
  cursor: pointer;
}
.form-label-field:hover{
  color: cornflowerblue;
  text-decoration: underline;
}
.document-label-container{
  display: block;
}