.filters-container {
    min-width: 100%;
    background-color: #1D3557;
    color: white;
    padding: 25px;
  }
  
  .filters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    max-width: fit-content;
    flex-grow: 1;
    margin: 10px 0; 
  }
  
  .order-container,
  orderby-container {
    border-radius: 100px;
    border: 1px solid white;
    max-width: fit-content;
    padding: 10px;
    text-align: center;
    margin: 10px 5px;

  }
  
  .filter-button-container {
    display: flex;
    align-items: center;
    margin: 10px 0;

  }
  .date-container
  ,.dropdown-container{
    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }
  .clean-filters-button {
    border-radius: 100px;
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 10px;
    margin-right: 0px;
    font-size: 1rem;
    border: 0;
  }
  
  .clean-filters-button:hover {
    border-radius: 100px;
    background-color: #C0C0C0;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .dropdown-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .search-bar-container .search-bar-row .form-control {
    margin-right: 10px;
  }
  