/* NoPermissionNotice.css */

.no-permission-notice {
    background-color: #f44336; /* Color de fondo rojo */
    color: #fff; /* Color de texto blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15%;
  }
  
  .no-permission-content {
    margin: 10px;
  }
  
  .no-permission-notice h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .no-permission-notice p {
    font-size: 1rem;
    margin: 0;
  }
  