/* navbar-styles.css */
.navbar-custom {
    background-color: #1D3557; 
    color: white;
  }
  
  .nav-link-custom {
    font-size: 18px;
    color: white !important; 
    font-weight: bold;
  }
  .nav-link-custom:hover {
    font-size: 18px;
    color: lightgray !important; 
    font-weight: bold;
  }
.upper-navbar-link{
  text-decoration: none;
  font-weight: bolder;
  color: white;
}
  
.upper-navbar-link:hover{
  text-decoration: none;
  font-weight: bolder;
  color: lightgray !important; 
}
  
 